*.DS_Store
*.o
lyrebird
lyrebird.server
lyrebird.client
*.txt
*.swp
*.log
CMPT300_Assignment01/memwatch.*
CMPT300_Assignment02/memwatch.*
CMPT300_Assignment03/memwatch.*
CMPT300_Assignment04/memwatch.*
